* {
    padding: 0;
    margin: 0;
}

body {
    background-size: cover;
}

.container {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 0;*/
    right: 0;
    margin: auto;
    width: 100%;
    min-height:100%;
}

#text-joke {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

/* icon style */
i {
    box-shadow: 5px 7px gold;
    border-radius: 3rem;
}

.fa-3x {
    color: rgba(0, 0, 0, 0.75);   /* RGBA Color (Alternative Transparency) */
    background-color: none;
}

.fa-3x:hover {
    color: gold;
    box-shadow: 10px 15px rgb(0, 0, 0);
}

/* Custom default button */
.btn-outline-dark, .btn-outline-dark:focus {
    box-shadow: 5px 7px gold;
}

.btn-outline-dark:hover {
    color: black;
    background-color: gold;
    box-shadow: 10px 15px rgb(0, 0, 0);
}

.container-fluid {
    background-color: white;
    border-radius: 5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container-fluid {
        width: 30rem;
        border-radius: 4rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container-fluid {
        width: 30rem;
        border-radius: 4rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container-fluid {
        width: 55rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-fluid {
        width: 55rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container-fluid {
        width: 70rem;
    }
}